* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: font-pokemon;
    src: url(./pokemon.ttf);
}

body {
    background-color: #5CCDAA;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: rgba(8, 39, 141, 0.384);
    padding: 1em 0.5em;
    height: 100%;
    font-size: 1em;
}

.menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu li {
    line-height: 2em;
}

.menu li a {
    color: blanchedalmond;
    text-decoration: none;
    transition: 0.6s;
    font-weight: bold;
}

.menu li a:hover {
    color: #FBCA39;
}

main {
    max-width: 90vw;
    margin: 0 auto 10vh;
}

.tituloSite {
    text-align: center;
    margin: 0.3em;
    font-family: font-pokemon;
    font-size: 3em;
    color: #FBCA39;
    letter-spacing: 0.1em;
    text-shadow: -8px 0 #3E68BA, 0 2px #3E68BA, 2px 0 #3E68BA, 0 -2px #3E68BA;
}

.borda {
    padding: 5em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.fieldset-borda {
    border: 0.3em solid #1f3466;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 25px;
}

.legenda-borda {
    text-align: left;
    width: auto;
    padding: 0 0.5em;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px -1px 0 #3E68BA;
}

.filtros-filhos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input {
    height: 7vh;
    width: 37vw;
    border: solid 0.1em #5CCDAA;
    background-color: #ffffff;
    padding: 0 0.2em;
    margin: 0.1em;
    color: #5CCDAA;
    border-radius: 20px;
    font-size: 1em;
}

.botao {
    height: 7vh;
    border: solid 2px #1100ff;
    background-color: #0212f062;
    color: #000000;
    padding: 0 1em;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.6s;
    border-radius: 20px;
    margin-top: 0.5em;
}

.botao:hover,
.botao:active {
    border: solid 2px #0212f062;
    background-color: #1100ff;
    color: blanchedalmond;
}

.porcentagem {
    display: none;
    width: 90vw;
    background-color: #1f3466;
    margin: 0.5em auto 0;
    line-height: 8vh;
    color: blanchedalmond;
    height: 8vh;
    border-radius: 20px;
    font-size: 1em;
    text-align: center;
}

.pokemons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 70vw;
    height: 45vh;
    margin: 1em 0.5em 0.5em;
    flex-direction: column;
    perspective: 1000px;
    text-align: center;
    justify-content: center;
}

.flip {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .flip,
.card:active .flip {
    transform: rotateY(180deg);
}

.front-card,
.back-card {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: rgb(248, 248, 255);
    border: 0.2em solid transparent;
    border-radius: 10px;
    padding: 0.5em;
}

.back-card {
    transform: rotateY(180deg);
}

.imagem-pokemon {
    margin: 0 -0.7em;
    background-color: rgba(8, 39, 141, 0.384);
}

.pokemon-img {
    width: 5em;
}

.pokemon-name,
.pokemon-num {
    font-size: 1em;
    line-height: 1.5em;
}

.titulo-especificacoes {
    font-size: 1em;
}

.pokemon-region,
.pokemon-type,
.pokemon-about,
.pokemon-rarity,
.pokemon-egg,
.pokemon-weaknesses {
    font-size: 1em;
    border-bottom: solid 0.1em #44696C;
    line-height: 1.2em;
    margin-top: 0.1em;
}

.front-card .titulo-especificacoes {
    margin-top: 0.2em;
}

.back-card .titulo-especificacoes {
    margin-top: 0.5em;
}

footer {
    background-color: rgba(8, 39, 141, 0.384);
    color: blanchedalmond;
    font-size: 0.8em;
    padding: 1em 0;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #ffe521;
}

.contato {
    margin: 1em auto 0;
    max-width: 80vw;
    text-align: center;
}

.contato-aluna {
    margin-bottom: 1em;
}

.contato .nome-aluna {
    text-decoration: underline;
    font-size: 1.5em;
}

.contato-aluna a {
    font-size: 1.3em;
}

.texto-sobre,
.texto-curiosidade,
.texto-dicas {
    font-family: 'Castoro', serif;
    font-size: 1em;
    line-height: 1.5em;
    margin: 1em 0;
    padding: 0 1em;
}

.titulo-curiosidade,
.titulo-dicas {
    font-size: 1.2em;
    margin: 1em 0 0 0;
    text-align: center;
}